<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDFdx6iKg4DXcuaMTzKMOcpxq_TlNuQEME</string>
	<key>GCM_SENDER_ID</key>
	<string>1037452577086</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.labelapp.mobile</string>
	<key>PROJECT_ID</key>
	<string>label-app-b5e46</string>
	<key>STORAGE_BUCKET</key>
	<string>label-app-b5e46.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1037452577086:ios:8990f703f996f60e3dc46f</string>
	<key>DATABASE_URL</key>
	<string>https://label-app-b5e46-default-rtdb.firebaseio.com</string>
</dict>
</plist>